.sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  z-index: 2147483647;
  width: 34%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
h2.title {
  font-weight: 900;
}
h4.subtitle {
  color: rgb(21, 243, 114);
}
div.action-row {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  align-items: center;
  justify-content: space-around;
}
div.social-row {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  align-items: center;
  justify-content: space-around;
}
div.social-row > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.social-row > div > i {
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 650px) {
  div.action-row {
    margin-top: 9px;
  }
  div.social-row{
    margin-top: 15px; 
  }
  mat-raised-button{
    font-size: 0.8rem !important;
    line-height: 26px !important;
  }
  .sidebar div.h4{
    margin: 0 0 3px !important;
  }
  h4.subtitle{
    margin: 0;
  }
  h2.title{
    margin: 0 3px;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  button{
    font-size: .8rem
  }
}
.mat-raised-button{
  min-width: 0;
  padding: 0 9px;
}
