<div class="home">
  <div class="video-item">
    <div class="video-wrap">
        <video  controls>
          <source  src="{{source}}"  type='video/mp4'>
        </video>
      </div>
    </div>

  <div class="video-description-item">
    <h2>joyTu.be interactive video platform </h2>
    <h4>Give your customers relevant info at a touch. Allow them to bookmark, share anything. Drive your brand-customer conversation
      by allowing them ask/discuss about anything they like. Superior result: up to 40% CTR. Embeded HTML5 interactive video
      player. Scalable video processing and streaming services. Detailed analytics (impressions, user interactions, CTR).
      Information management tool for brands and agencies.</h4>
  </div>

  <div class="img-description-item1">
    <h2>Relevant info at a touch</h2>
    <h4>Imagine. A customer is watching your video and wondering where's that scene. Just a touch, and she can get the information
      right there, right within the video. How will she feel?</h4>
  </div>

  <div class="img-item1">
    <img src="../assets/img/home-dress.jpg" />
  </div>


  <div class="img-item2">
    <img src="../assets/img/home-bag.jpg" />
  </div>

  <div class="img-desciption-item2">
    <h2>Drive brand-consumer conversation</h2>
    <h4>What if you miss something? It could be a low-ranking product/feature in your mind, but it's essential for your customers.
      With joyTu.be interactive videos, they can simply touch it to comment, ask for more information right within the video.</h4>
  </div>
  
  <div class="img-description-item3">
    <h2>Bookmark, share anything in video</h2>
    <h4>Imagine. A customer is watching your video and sees a beautiful dress. Just a touch, she can see the price, click to find out more, or even buy it. She can also bookmark the dress, share and discuss with friends. Her bookmark is always updated with the latest information, so she won't miss any sale. 
        We're helping our clients to do that.</h4>
  </div>
  <div class="img-item3">
    <img src="../assets/img/joyTu.be--MBS.jpg">
  </div>


  <div class="img-item4">
    <img src="../assets/img/home-brands.png" />
  </div>

  <div class="img-description-item4">
    <h2>Trusted by brands and agencies</h2>
    <h4>We work closely with brands and creative/media/PR agencies to craft unique solutions for their needs. We constantly monitor
      and inform our clients during their campaign to identify hotspots (e.g., their best traffic sources, their most engaged
      customer segments) and possible improvements. We do not aim for short-term gains, but focus on long-term partnerships.</h4>
  </div>

</div>
