div.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

div.home div {
  text-align: justify;
}

.video-wrap{
  width: 100%;
  height: 100%;
  position: relative;
}

h2{
  font-size: 1.9rem;
    color: #333;
    font-weight: 400;
    line-height: 2em;
}

h4{
  color: #333;
    line-height: 1.7em;
}

.video-item{
  height: 320px;
}

div.video-item div.video-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.video-item div.content div.video-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

@media (max-width: 991px) {
  div.home {
    grid-template-columns: 1fr;
  }

  .img-description-item1{
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .img-item1{
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .img-description-item3{
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .img-item3{
    grid-row-start: 7;
    grid-row-end: 8;
  }
}

.video-js{
  width: 100%;
  height: 100%;
}

.video-header {
  position: absolute;
  height: 20px;
  z-index: 10;
}

.circle {
  position: absolute;
  z-index: 10;
  background: #cc3300;
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 50%;
  padding: 10px !important;
}

.circle:hover {
  cursor: pointer;
  background: #cc3300;
}

.mat-raised-button{
  padding: 0 !important;
}

.video-header button{
  font-size: 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  width: 30px;
  margin: 8px;
  height: 30px;
}

.video-header {
  position: absolute;
  height: 20px;
  z-index: 10;
}

.btn-select{
  width: fit-content !important;
}