div.videos {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

div.videos .duration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-align: right;
  font-weight: 900;
}

div.videos mat-card-subtitle {
  position: relative;
}
.chart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}


#embed-api-auth-container {
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}
#view-selector-container {
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.chart div {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}
.videos div p {
  display: block;
  float: left;
  line-height: auto;
  padding: 0.5rem 1rem;
  font-size: 16px;
}
.videos div button {
  float: right;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.summary{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;

}
mat-card{
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}
mat-card-content h4{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 1rem;
}
mat-card-content{
  display: block;
    background: #9AA5B1;
    margin: 0 5%;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s;
}
mat-card-content:first-child{
  background: #9AA5B1;
  transition: all 0.3s;
  padding: 7px;

}

mat-card-content:first-child:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.track{
  display: block;
    text-decoration: none;
    color: black;
    height: 77%;
}

.mat-track:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart-wrapper{
  border-radius: 10px;

  background: coral;
  margin: 39px 0%;
  padding: 26px 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input{
  display: block;
  width: 98%;
  padding: 12px;
  background: #323F4B;
  border: none;
  color: #E4E7EB;
  border-radius: 7px;
}
input:focus{
  outline: none
}

.btn-name-uploaded-date button{
  background: #E4E7EB;
  padding: 0 46px;
  margin-right: 25px;


}
.btn-name-uploaded-date{
  margin-top: 20px;
}
.videos-wrapper{
  width: 100%;
  background: #CBD2D9;
  padding: 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.btn-show-stats{
  background: #94C843;
    padding: 2px 21px;
    border-radius: 8px;
    float: right;
    margin-right: 2%;
}

@media only screen and (max-width: 600px) {

  .chart{
    grid-template-columns: 1fr;
  }
  mat-card{
    display: grid;
    grid-template-columns: 1fr;
    
  }
}