<div class="videos-wrapper">

<input type="text" placeholder="Search by name, description, ect.">
<div class="btn-name-uploaded-date">
    <button mat-button>Name</button>
    <button mat-button>Uploaded Date</button>
</div>
<div id="embed-api-auth-container"></div>
<div hidden="True" id="view-selector-container"></div>
<div class="chart-wrapper">
    <div class="summary">Summary stats for all videos</div>
    <div class="chart">

        <div id="os-chart-container"></div>
        <div id="country-chart-container"></div>
        <div id="total-playget-chart-container"></div>
    </div>
</div>

<div class="videos">
    <mat-card class="example-card" *ngFor="let video of videos" class="mat-elevation-z5">
        <mat-card-content>
            <mat-card-title>{{video.title}}</mat-card-title>
            <a routerLink="/video/{{video.id}}">
                <mat-card-subtitle><img src="{{video.thumbnail}}" width="100%" />
                    <p class="duration">{{video.duration}}</p>
                </mat-card-subtitle>
            </a>
            <div>
                <p>{{video.author}}</p>
            </div>
        </mat-card-content>

        <mat-card-content class="mat-track">
            <div class="track">
                <h4>Video Description</h4>
            </div>
            <button mat-button  routerLink="/dashboard/{{video.id}}" class="btn-show-stats">Show stats</button>
        </mat-card-content>
    </mat-card>
</div>
