<div class="unverified">
  <h1>Email Verification</h1>
  <h4>
    <p>We have earlier sent you an email to verify your email address. If you have not seen it, it could be because you mistyped
      your email or it has ended up in your spam folder. In order to continue using Joytu.be, please verify your email by
      clicking on the link provided in the email we have sent you.</p>
    <p>Still having issues?
      <a href="mailto:webmaster@example.com">Contact Us</a>
      <br/>We would be glad to help you out. 
    </p>
  </h4>
</div>
