<div class="video" [hidden]="!vada">
  <h1 class="title" *ngIf="video">{{video.title}}</h1>
  <div class="content">
    <div class="video-wrapper" #videoWrapper>
      <div *ngIf="headerDisplay" class="video-header">
        <button><i class="fa fa-share"></i></button>
        <button (click)="toggleTag()"><i class="fa fa-comments"></i></button>
        <button class="btn-select" *ngIf="toggleSelect" (click)="showSideBarAdd()">Select</button>
      </div>
      <video onplay="my.namespace.onPlay()" #videoContainer id="videojs-overlay-player"
        class="video-js vjs-default-skin vjs-big-play-centered" controls>
        <source *ngIf="video" src="{{video.source}}" type='video/mp4'>
      </video>
      <div *ngIf="isTagDisplay" class="circle" cdkDrag cdkDragBoundary=".video-wrapper"></div>
      <app-sidebar #sideBarComponent (isShowProductWebsiteOutput)="detectClickMore($event)"></app-sidebar>
      <app-sidebar-add-tag (addedRoiItem)="getAddedRoiItem($event)" *ngIf="toggleSideBarAdd" [video]="video"
        [widthVideo]="widthVideo" [heightVideo]="heightVideo" [time]="time"></app-sidebar-add-tag>

    </div>
    <div class="rois">
      <mat-list>
        <mat-list-item *ngFor="let item of items">
          <b>{{item.title}}</b>
          <button mat-button (click)="deleteItem(item.id)">Delete</button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
