<div class="bookmarks">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bookmark </th>
      <td mat-cell *matCellDef="let element"routerLink="/video/{{element.video.id}}" [queryParams]="{ t: element.location}"> {{element.item.title}}
        <div class="item-img">
          <img src="{{element.thumbnail}}" />
        </div>
        <div class="condensed-only">
          <h5>{{element.video.title}} @ {{element.location}}</h5>
          <h6>Created @ {{element.created}}</h6>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="video">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Video </th>
      <td mat-cell *matCellDef="let element"> {{element.video.title}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created}} </td>
    </ng-container>

    <ng-container matColumnDef="tool">
      <th mat-header-cell *matHeaderCellDef>Tool</th>
      <td mat-cell *matCellDef="let element" ><button mat-button routerLink="/post/{{element.item.id}}">Comment</button><button mat-button (click)="delete_bookmark(element)">Delete</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
