<div id="embed-api-auth-container"></div>
<div id="view-selector-container"></div>

<div class="chart" style="display: grid;grid-template-columns: 1fr 1fr;">
  <div id="os-chart-container"></div>
  <div id="country-chart-container"></div>
  <div id="total-playget-chart-container"></div>
  <div id="main-chart-container"></div>
  <div id="plays-chart-container"></div>  
  <div id="load-play-chart-container"></div>
  <div id="play-getinfo-chart-container"></div>
  <div id="getinfor-visit-chart-container"></div>
</div>