* {
  background: #f2f3f8;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}
#embed-api-auth-container {
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}
#view-selector-container {
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
}
.chart {
  border-radius: 10px;
}
.chart div {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
